/* ---------------------------
General
---------------------------*/
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

p {
    text-align: left;
    margin-top: 40px;
}

header {
    width:100%;
    height:20px;
    position:fixed;
    z-index: 102;
    top:0;
    left:0;                                         /*fixed guide*/
    border-bottom: 2px white solid;
    background-color: #ffffff;
    padding: 10px 70px;
}

.text-center {
    text-align: center;
}

.logo {
    float: left;
    margin-left: 1%;
    margin-top: 0;
    height: 25px
}

.guide {
    float: right;
    margin-right: 10%;
    display: -webkit-inline-box;
}

.logo-right {
    margin-top: 0;
    width: 90px
}

.logo-font {
    color:grey; 
    margin-right:20px; 
    width:60px;
    font-size:10px;
    text-align:right; 
    line-height:10px;
}

.light {
    background-color: #f9f9f9;
    background-image: url(./assets/leaf-top-left.png), url(./assets/leaf-top-right.png);
    background-position: 0 45%, 100% 55%;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px, 250px;
}
.leaf {
    width:250px
}

.leaf-right {
    width:250px;
    margin-top: 100px;
}

.contentOne {
    width:80%;
    margin-bottom: -90px;
}

.logo-mid {
    margin-top: 250px;
    width: 250px;
}

.p-mid {
    width: 30%;
    margin:30px 35%;
    font-weight: bold;
}

h1 {
    margin-bottom: 5px
}

.gold {
    color: #bb8b15;
}

.b-bottom {
    border-top: 3px #000000 solid;
    margin: 0 45%;
}

.b-bottom-g {
    border-top: 3px #bb8b15 solid;
    margin: 0 45%;
}

.b-bottom-l {
    border-top: 3px #000000 solid;
    margin: 0;
    width:20%
}
.p-bottom {
    border-top: 1px rgb(185, 184, 184) solid;
    border-bottom: 1px rgb(185, 181, 181) solid;
    color:rgb(168, 167, 167);
    text-align: left;
    width: 60%;
    margin: 20px 20%;
    padding: 10px 0;
    font-size: 10px;
}

.container {
    margin: 20px 25%
}
.s1 {
    width: 60%;
    text-align: left;
    
}

.container-s1 {
    max-width: 500px;
}
.pink {
    background: #f5ddda url(./assets/leaf-middle-left.png) no-repeat left;
    background-size: 250px;
    background-position-y: bottom;
    /* opacity:0.6; */
    /* filter:alpha(opacity=60); */
    z-index:-1;
    padding-top: 100px
}

.s2 {
    table-layout: fixed; 
    width: 60%;
    margin: 20px 20%
}
.lightgrey {
    background: #f9f9f9 url(./assets/flower-middle-left.png) no-repeat left;
    background-position-y: top;
    background-size: 300px;
}

.title{
    margin-top: 0;
    padding-top: 50px;
}

.slides_container {
    margin: 0 10%;
    width: 100%;          
    height: 700px;
    overflow: hidden;
}