/* ---------------------------
         General
---------------------------*/
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 0;
    text-align: center;    
}

h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 10px;
    line-height: 40px;
    letter-spacing: 2px;
}

p {
    text-align: left;
    margin-bottom: 30px;
}

.container {
    margin: 20px 28%;
    display: flex;
    flex-direction: column
}

/* ---------------------------
         Header
---------------------------*/
header {
    width:100%;
    height:40px;
    position:fixed;
    z-index: 102;
    top:0;
    left:0;                                         
    border-bottom: 2px white solid;
    background-color: #ffffff;
    padding: 10px 70px;
}

.logo-left {
    float: left;
    margin-left: 1%;
    height: 25px
}

.right {
    float: right;
    margin-right: 3%;
    display: -webkit-inline-box;
}

.logo-right {
    width: 90px
}

.logo-font {
    color:grey; 
    margin-right:20px; 
    width:60px;
    font-size:10px;
    text-align:right; 
    line-height:10px;
}

/* ---------------------------
         Title Style
---------------------------*/
.gold {
    color: #bb8b15;
}

.b-bottom {
    border-top: 3px #000000 solid;
    margin:0 45% 30px 45%;
}

.b-bottom-g {
    border-top: 3px #bb8b15 solid;
    margin: 0 45% 30px 45%;
}

.b-bottom-l {
    border-top: 3px #000000 solid;
    margin: 0 0 30px 0;
    width:20%
}

/* ---------------------------
         Section 1
---------------------------*/
.s1 {
    background-color: #f9f9f9;
    background-image: url(./assets/leaf-top-left-min.png), url(./assets/leaf-top-right-min.png);
    background-position: 0 45%, 100% 55%;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px, 250px;
}

.logo-mid {
    margin-top: 250px;
    width: 250px;
}

.p-mid {
    width: 30%;
    margin:30px 35%;
    font-weight: bold;
}

/* first letter */
.text:first-letter{
    font-size: 60px;
    color:#bb8b15;
    float: left;
    padding-right:10px;
    text-transform:uppercase;
}

.p-bottom {
    border-top: 1px rgb(185, 184, 184) solid;
    border-bottom: 1px rgb(185, 181, 181) solid;
    color:rgb(168, 167, 167);
    text-align: left;
    width: 60%;
    margin: 30px 20%;
    padding: 10px 0;
    font-size: 10px;
}

.content-image {
    width:80%;
    margin-bottom: -90px;
}

/* ---------------------------
          Section 2
---------------------------*/
.s2 {
    background: rgb(243, 147, 138) url(./assets/leaf-middle-left-min.png) no-repeat left;
    background-size: 250px;
    background-position-y: bottom;
}

.s2-bg {
    background:rgba(255,255,255,0.8);
    padding-top: 150px;
    padding-bottom: 50px;
}

.table-s2 {
    table-layout: fixed; 
    width: 60%;
    min-width: 820px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.title-s2 {
    width: 60%;
    text-align: left;
}

.container-s2 {
    max-width: 500px;
}

/* ---------------------------
          Section 3
---------------------------*/
.s3 {
    background: #f9f9f9 url(./assets/flower-middle-left-min.png) no-repeat left;
    background-position: 0 10%;
    background-size: 300px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* slider */         
#slider {
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:980px;
    height:380px;
    overflow:hidden;
    visibility:hidden;
}

#slider div {
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:980px;
    height:380px;
    overflow:hidden;
}
#slider div div div img{
    margin-left: 10px;
}

/* ---------------------------
          Section 4
---------------------------*/
.table-s4 {
    margin: 40px auto;
    width: 60%;
}

.table-left {
    display: inline-grid;
}

/* ---------------------------
         Footer
---------------------------*/
.footer-img {
    width:100%;
}